/* responsive styles for mobile device */

@media screen and (max-width:576px) {
   .nav {
      margin-top: -10px;
      max-width: 100%;
      justify-content: space-around;
   }

   .nav-logo img {

      width: 2rem;
   }

   .nav-logo h2 {
      font-size: 1.5rem;
   }

   .nav-links a {
      display: none;
   }

   .nav-links img {
      display: block;
      width: 2rem;
   }


   /* banner section styles for mobile */

   .banner-section {
      width: 335px;
      height: 583px;
      background-position: center;
   }

   .banner-container {
      padding: 20px 0 0;
   }

   .banner-container h1 {
      font-size: 1.5rem;
      margin-top: 10px;
   }

   .banner-container p {
      font-size: 1rem;
      padding: 20px 20px 20px;
   }

   .banner-container .input-select {
      width: 255px;
      margin-top: 16px;
   }

   .input-container {
      padding: 20px 0px;
      background-color: rgba(255, 255, 255, 0.411);
      border-radius: 10px;
      width: 287px;
      margin: 0 auto;
   }

   .input-container button {
      width: 255px;
      margin: 16px 0 16px;
   }

   .fa-solid {
      padding-top: 17px;
      margin-left: -110px;
   }

   /* popular section desing for mobile */

   .popular-section {
      max-width: 335px;
      padding: 0 20px;
      margin: 100px auto 0;

   }

   .popular-container {
      display: flex;
      flex-direction: column;
   }


   .popular-text {
      flex-direction: column;

   }

   .popular-text p {
      width: 335px;
   }

   .popular-text ul {
      padding-left: 25px;

   }

   .popular-text li {
      width: 335px;

   }

   .popular-img {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .popular-img img {
      width: 335px;
      height: 342px;
      margin-top: 20px;
   }

   /* choose your destination sections related styles for mobile */

   .destination-section {
      max-width: 335px;
   }

   .destination-text {
      text-align: center;
   }

   .destination-text p {
      width: 335px;
   }

   .destination-images {
      display: flex;
      flex-direction: column;
      position: relative;
   }

   .destination-images img {
      width: 335px;
      height: 175.393px;

   }

   .first-destination-img-row,
   .second-destination-img-row,
   .third-destination-img-row {
      display: flex;
      flex-direction: column;
   }

   .maldives {
      margin-bottom: 200px;
      margin-right: 10px;
      position: absolute;
      color: white;
      font-size: 1.5rem;

   }

   .indonesia {
      margin-right: 600px;
      margin-top: 200px;
      position: absolute;
      color: white;
      font-size: 1.5rem;
   }


   .srilanka {
      margin-bottom: 400px;
      margin-right: 10px;
      position: absolute;
      color: white;
      font-size: 1.5rem;

   }

   .north-america {
      margin-right: 100px;
      position: absolute;
      color: white;
      font-size: 1.5rem;

   }

   .kashmir {
      margin-top: 400px;
      margin-right: 900px;
      position: absolute;
      color: white;
      font-size: 1.5rem;


   }


   .bangladesh {
      margin-right: 10px;
      margin-bottom: 250px;
      position: absolute;
      color: white;
      font-size: 1.5rem;

   }

   .bandarban {
      margin-top: 200px;
      margin-right: 500px;
      position: absolute;
      color: white;
      font-size: 1.5rem;

   }

   /* why choose us section related styles for mobile */

   .why-choose-us-text p {
      width: 300px;
   }

   .card {
      width: 335px;
      margin: 20px auto;
   }

   .card p {
      width: 271px;
   }

   .first-row-card-content {
      display: flex;
      flex-direction: column;
   }


   /* newsletter section related styles for mobile devices */
   .newsletter-section {
      display: flex;
      flex-direction: column;
      max-width: 335px;

   }

   .newsletter-content {
      width: 335px;
      height: 425px;
   }

   .newsletter-content h3 {
      padding-left: 24px;
   }

   .newsletter-content p {
      padding-left: 22px;
   }

   .newsletter-content hr {
      width: 288px;
      margin-left: 24px;
   }

   .newsletter-content input {
      width: 288px;
      margin-left: 24px;
   }

   .newsletter-content button {
      width: 288px;
      margin-left: 24px;
   }

   .savings-content img {
      width: 335px;
      height: 300px;
      margin-top: 18px;
   }

   .savings-card {
      width: 214.023px;
      height: 79.268px;
      margin-left: 118px;
      margin-top: 633px;
      transform: rotate(-19.628deg);
   }

   .savings-card-content {
      margin-top: 10px;
   }

   /* footer section related styles from here */

   .footer-section {
      margin: 100px auto 0;
      width: auto;
   }

   .footer-description {
      width: 287px;
   }

   .footer-hr {
      width: 335px;
      height: 1px;
   }

   .footer-reserved {
      margin: 10px auto 30px;
   }
}