/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;

}

.btn-primary {
    width: 174px;
    height: 52px;
    ;
    background: #FF5400;
    border: none;
    border-radius: 8px;
    color: white;
}

/* navbar related styles */



.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 80px;
}

.nav-logo h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.span-station {
    color: #FF5400;
}

.nav {
    max-width: 1170px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    margin-left: 40px;
}

/* banner section related styles */

.banner-section {

    max-width: 1170px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("/Images/banner - Copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-color: linear-gradient(to bottom right, red, yellow);
    text-align: center;
    display: flex;
    justify-content: center;

}

.banner-container {
    margin: auto 0;
    padding: 120px 120px;
}

.banner-container h1 {
    color: white;
    font-size: 4rem;
}

.banner-container p {
    color: white;
    padding: 25px 240px;
}

.banner-container input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
}

.banner-container input:hover {
    border: none;
}

.input-placeholder {
    text-align: center;
}

.fa-magnifying-glass {
    color: white;
    width: 10px;
}

/* popular section related styles */

.popular-section {
    max-width: 1170px;
    height: auto;
    margin: 100px auto 0;

}

.popular-container {
    display: flex;
    justify-content: space-around;
}

.popular-text {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popular-text h1 {
    font-size: 2rem;
    font-weight: 800;

}

.popular-text p {
    padding-bottom: 24px;
    padding-top: 24px;
    width: 530px;
    font-size: 1rem;
}

.popular-text ul {
    padding-left: 25px;

}

.popular-text li {
    width: 525px;
    padding-top: 16px;
    padding-right: 60px;

}

.popular-img img {
    height: 540px;
    width: 540px;
}

/* destination section related styles */

.destination-section {
    max-width: 1170px;
    height: auto;
    margin: 100px auto 0;

}

.destination-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-text h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-text p {
    text-align: center;
    width: 640px;
    padding-top: 24px;
    padding-bottom: 30px;
}

.first-destination-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
    position: relative;

}

.maldives {
    padding-right: 600px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.indonesia {
    padding-left: 600px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.second-destination-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
    position: relative;
}

.srilanka {
    padding-right: 800px;
    position: absolute;
    color: white;
    font-size: 1.5rem
}

.north-america {
    padding-left: 100px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.kashmir {
    padding-left: 900px;
    position: absolute;
    color: white;
    font-size: 1.5rem;

}

.third-destination-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
}

.bangladesh {

    padding-top: 30px;
    padding-right: 700px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.bandarban {
    padding-top: 30px;
    padding-left: 500px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

/* why choose us section related styles */

.why-choose-us-section {
    border: 2px solid black;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.why-choose-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose-us-section h1 {
    font-size: 2rem;
    font-weight: 800;
    padding-top: 100px;
}

.why-choose-us-section p {
    width: 623px;
    padding-top: 18px;
    font-size: .9rem;
    line-height: 1;
}

.why-choose-us-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.why-choose-us-card-container{
    padding-top: 45px;
}
.first-row-card-content {
    display: flex;
    justify-content: space-between;

}

.card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    text-align: start;
    padding-left: 32px;
}

.card h3 {
    font-weight: 800;
    padding-top: 32px;
}

.card p {
    width: 480px;
    color: #5A5A5D;
    font-size: .9rem;
    font-weight: 400;
    line-height: 26px;
}

.card-1 {

    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

.card-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-3{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin: 24px auto 0;
}