/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;

}

.btn-primary {
    width: 174px;
    height: 52px;
    background: #FF5400;
    border: none;
    border-radius: 8px;
    color: white;
    position: relative;
    font-size: 1.2rem;
    font-weight: 800;
}

.span-station {
    color: #FF5400;
}


/* navbar related styles */



.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 80px;
}

.nav-logo h2 {
    font-size: 2.5rem;
    font-weight: 1000;
}


.nav {
    max-width: 1170px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    margin-left: 40px;
}

/* this is for hiding the menubar in deskstop view */
.hide {
    display: none;
}


/* banner section related styles */

.banner-section {

    max-width: 1170px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: linear-gradient(to bottom right, red, yellow);
    text-align: center;
    display: flex;
    justify-content: center;

}

.banner-container {
    background-image: url("/Images/banner-Copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: auto 0;
    padding: 120px 120px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner-container h1 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.banner-container p {
    color: white;
    padding: 60px 240px 60px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
}

.banner-container input {
    height: 52px;
    border-radius: 8px;
    border: none;
}

.input-container {
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    width: 850px;
    margin: 0 auto;
    position: relative;
}

.input-select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    padding: 16px 16px;
    margin: 0 16px;
}

.input-placeholder {
    text-align: center;
}

.fa-solid {
    color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    padding-top: 10px;
    margin-left: -85px;
}

/* popular section related styles */

.popular-section {
    max-width: 1170px;
    height: auto;
    margin: 100px auto 0;

}

.popular-container {
    display: flex;
    justify-content: space-between;
}

.popular-text {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.popular-text h1 {
    font-size: 2rem;
    font-weight: 800;

}

.popular-text p {
    padding-bottom: 24px;
    padding-top: 24px;
    width: 530px;
    font-size: 1rem;
}

.popular-text ul {
    padding-left: 25px;

}

.popular-text li {
    width: 525px;
    padding-top: 16px;
    padding-right: 60px;

}

.popular-img img {
    height: 540px;
    width: 540px;
}

/* destination section related styles */

.destination-section {
    max-width: 1170px;
    height: auto;
    margin: 100px auto 0;

}

.destination-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-text h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-text p {
    text-align: center;
    width: 640px;
    padding-top: 24px;
    padding-bottom: 30px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.destination-images h2{
    font-size: 1.5rem;
}

.first-destination-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
    position: relative;

}

.maldives {
    margin-right: 600px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.indonesia {
    margin-left: 600px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.second-destination-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
    position: relative;
}

.srilanka {
    margin-right: 800px;
    position: absolute;
    color: white;
    font-size: 1.5rem
}

.north-america {
    margin-left: 100px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.kashmir {
    margin-left: 900px;
    position: absolute;
    color: white;
    font-size: 1.5rem;

}

.third-destination-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
}

.bangladesh {

    margin-top: 30px;
    margin-right: 700px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

.bandarban {
    margin-top: 30px;
    margin-left: 500px;
    position: absolute;
    color: white;
    font-size: 1.5rem;
}

/* why choose us section related styles */

.why-choose-us-section {

    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.why-choose-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose-us-section h1 {
    font-size: 2rem;
    font-weight: 800;
    padding-top: 100px;
}

.why-choose-us-section p {
    width: 623px;
    padding-top: 18px;
    font-size: .9rem;
    line-height: 1;
}

.why-choose-us-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.why-choose-us-card-container {
    padding-top: 45px;
}

.first-row-card-content {
    display: flex;
    justify-content: space-between;

}

.card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    text-align: start;
    padding-left: 32px;
}

.card h3 {
    font-weight: 800;
    padding-top: 32px;
}

.card p {
    width: 480px;
    color: #5A5A5D;
    font-size: .9rem;
    font-weight: 400;
    line-height: 26px;
}

.card-1 {

    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

.card-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin: 24px auto 0;
}

/* premium packages related styles */

/* .premium-section {
    width: 1170px;
    height: 800px;
    border: 2px solid black;
    margin: 100px auto auto;
}

.premium-section .premium-content {
    text-align: center;
}

.premium-content h1 {
    font-size: 2rem;
    font-weight: 900;
}

.premium-content p {
    margin: 20px auto 0;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
} */

/* newsletter section related styles */

.newsletter-section {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    padding-top: 100px;

}

.newsletter-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
}

.newsletter-content h3 {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-content p {
    padding-left: 40px;
    padding-top: 16px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.newsletter-content input {
    width: 393px;
    height: 52px;
    margin-left: 40px;
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}

.input-placeholder {
    text-align: start;
    padding-left: 20px;
}

.newsletter-content hr {
    width: 393px;
    height: 1px;
    margin-left: 40px;
    margin-top: 24px;
    background: rgba(19, 19, 24, 0.018);
}

.newsletter-content button {
    margin-top: 24px;
    margin-left: 40px;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
}

.savings-card {
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    margin-left: 840px;
    margin-top: 250px;
    transform: rotate(-19.628deg);
}

.savings-card-content {
    color: white;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* footer section related styles start from here */

.footer-section {
    margin: 100px auto 0;
    width: 1684px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    padding-top: 100px;
    display: flex;
    align-items: center;

}

.footer-logo h2 {
    font-size: 1.3rem;
    font-weight: 1000;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    width: 769px;
    line-height: 1.5;
    margin-top: 15px;
}

.footer-icons img {
    margin-top: 32px;
}

.footer-hr {
    width: 872px;
    height: 1px;
    background: rgba(165, 42, 42, 0);
    margin: 33px auto;
}

.footer-reserved {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 100px;
    text-align: center;
}